In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Git_web_ml
df = pd.read_csv("../datos/musae_git_edges.csv")
edges = [tuple(x) for x in df.to_records(index=False)]
nodes = pd.read_csv("../datos/musae_git_target.csv")

G = nx.Graph()
G.add_nodes_from(nodes)
G.add_edges_from(edges)

In [3]:
# Verificar el número de nodos y aristas
print(f"Número de nodos: {G.number_of_nodes()}")
print(f"Número de aristas: {G.number_of_edges()}")

# Mostrar algunos nodos y sus grados
print("Algunos nodos y sus grados:")
for i, (node, degree) in enumerate(G.degree(), start=1):
    print(f"Nodo {node}: Grado {degree}")
    if i >= 10:  # Mostrar solo los primeros 10 nodos
        break

Número de nodos: 37703
Número de aristas: 289003
Algunos nodos y sus grados:
Nodo id: Grado 0
Nodo name: Grado 0
Nodo ml_target: Grado 0
Nodo 0: Grado 1
Nodo 23977: Grado 32
Nodo 1: Grado 8
Nodo 34526: Grado 2
Nodo 2370: Grado 40
Nodo 14683: Grado 106
Nodo 29982: Grado 489

In [4]:
nodes

          id            name  ml_target
0          0          Eiryyy          0
1          1      shawflying          0
2          2     JpMCarrilho          1
3          3       SuhwanCha          0
4          4    sunilangadi2          1
...      ...             ...        ...
37695  37695  shawnwanderson          1
37696  37696       kris-ipeh          0
37697  37697        qpautrat          0
37698  37698        Injabie3          1
37699  37699   caseycavanagh          0

[37700 rows x 3 columns]